#facebook
    padding: 60px 0
    .box
        padding: 0 50px
        .imgbox
            width: 220px
        .one
            width: 220px
            margin-bottom: 20px
        .two
            width: 190px
            margin-top: 20px
    @media screen and ( max-width: 576px )
        .box
            .imgbox
                margin-top: 50px
