#facebook
    padding: 60px 0
    .box
        padding: 0 50px
        // margin-bottom: 20px
        .imgbox
            width: 220px
        .microsoft
            width: 220px
            margin-bottom: 20px
        .ibm
            width: 190px
            margin-top: 20px
    @media screen and ( max-width: 576px )
        .box
            .imgbox
                margin-top: 50px
