header
    z-index: 2
    .menu
        position: fixed
        display: flex
        justify-content: space-between
        align-items: center
        background-color: #212529
        height: 80px
        padding: 10px 0
        left: 0
        right: 0
        z-index: 2
        .imgbox
            margin-left: 90px
            width: 150px
        nav
            margin-right: 75px
            a
                color: #ffff
                padding-right: 30px
                letter-spacing: 1px
                // margin-right: 30px
                cursor: pointer

    @media screen and ( max-width: 300px  )
        position: fixed
        width: 47%
        height: 70px
        .imgbox
            width: 130px

    @media screen and ( max-width: 900px )
        position: fixed
        nav
            a
                display: none

    @media (max-width: 992px)
        nav
            display: none
        .menu
            .btn
                font-weight: 500
                margin-right: 55px
                display: flex
                justify-content: between
                align-items: center
                border-radius: 5px
                font-size: 12px
                color: #9999ad
                padding: 7px 14px
                font-weight: 600
                border: 1px solid #9999ad
                h2
                    padding-right: 7px
            .imgbox
                margin-left: 50px

    @media (max-width: 280px)
        .menu
            height: 100px
            flex-direction: column
            align-items: flex-start
            justify-content: center
            .imgbox
                margin-bottom: 10px

    @media screen and ( max-width: 768px  )
        width: 100vw
